/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.wrapper {
	width: 100%;
	padding-bottom: 50px;
	text-align: center;
	font-size: 30px;
}

.info {
	font-size: 12px;
}

h1.title {
	color: #f35064;
	font-size: 26px;
}

h1.title .gray {
	color: #dedede
}

footer {
	font-size: 10px;
	color: gray;
}

.love {
	margin: 0 2px;
	display: inline-block;
	width: 13px;
	height: 12px;
	background: url(../love.png) no-repeat 0 0;
	text-indent: -9999px;
}

.logo {
	margin: 20px auto;
	display: block;
}

hr {
	max-width: 900px;
	margin: 20px auto;
}

div.example {
	padding: 10px 0;
}

div.top-bar {
	border-bottom: 1px solid #444;
	color: #fff;
	background-color: #ee5f5b;
	overflow: auto;
	padding: 0;
	height: 30px;
	font-size: 13px;
}

div.top-bar .left-bar {
	float: left;
}

div.top-bar .right-bar {
	float: right;
}

div.top-bar a {
	color: #fff;
	line-height: 30px;
	display: inline-block;
	padding: 0 15px;
	-webkit-transition: all 700ms ease;
	-moz-transition: all 700ms ease;
	-o-transition: all 700ms ease;
	transition: all 700ms ease;
	text-decoration: none;
}

div.top-bar a:hover {
	color: #ee5f5b;
	background-color: #fff;
}

div.top-bar .left-bar a {
	border-right: 1px solid #dedede;
}

div.top-bar .right-bar a {
	border-left: 1px solid #dedede;
}

/* http://jsfiddle.net/louisbullock/et79Z/show */
.button {
	color: #595959;
	text-shadow: 0 1px 0px rgba(255,255,255,1.0);
	background-color: #fff;
	background-image: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.089));
	border-radius: 2px;
	box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.7),0 1px 0px 0px rgba(0, 0, 0, 0.073);
	border: 1px solid rgba(0,0,0,0.37);
	cursor: pointer;
	display: inline-block;
	font-family: inherit;
	font-size: 12px;
	line-height: 12px;
	margin: 0 -5px;
	padding: 5px 12px;
	position: relative;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	-webkit-appearance: none;
	-webkit-transition: .2s;
	-moz-transition: .2s;
	-ms-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}

.button:hover {
	background-color: #f6f6f6;
	outline: none;
}

.button:focus {
	/*box-shadow:0px 0px 10px 0px #13B0FA;*/
	outline:none;
}

.button:active, .button.active {
	background-color:#ddd;
	background-image:-webkit-linear-gradient(rgba(0, 0, 0, .042), transparent);
	box-shadow:inset 0px 1px 2px 0px rgba(0, 0, 0, 0.073);
	outline: none;
	-webkit-transition:none;
	-moz-transition:none;
	-ms-transition:none;
	-o-transition:none;
	transition:none;
}

div.design {
	font-size: 12px;
	color: gray;
	margin: 13px 0;
}

div.design a {
	color: #89c56d;
	border-bottom: 1px dotted transparent;
	font-weight: bold;
	text-decoration: none;
	-webkit-appearance: none;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}

div.design a:hover {
	color: #646366;
	border-bottom: 1px dotted #646366;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
